@page
@model IndexModel
@{
    if (ViewData is not null)
    {
        ViewData["Title"] = "Главная страница";
    }
}

<div class="text-center">
    <a class="text-dark" asp-area="" asp-action="Index" asp-controller="Read" asp-route-page="1">Просмотреть данные</a>
    <a class="text-dark" asp-area="" asp-action="Index" asp-controller="Write">Загрузить данные</a>
</div>
