@page
@model IndexModel
@{
    if (ViewData is not null)
    {
        ViewData["Title"] = "Главная страница";
    }
}

<h1>Архив погодных условий в Москве</h1>
<a asp-area="" asp-action="Index" asp-controller="Read" asp-route-page="1">Просмотреть данные</a>
<a asp-area="" asp-action="Index" asp-controller="Write">Загрузить данные</a>
